*.suo
*.log
*.filters
*.sdf
*.lock
source/.metadata/.mylyn/.repositories.xml.zip
source/.metadata/.mylyn/tasks.xml.zip
source/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
source/.metadata/.mylyn/repositories.xml.zip
source/.metadata/.plugins/org.eclipse.cdt.core/Hackathon_Eclipse.1416251120658.pdom
source/.metadata/.plugins/org.eclipse.cdt.core/Hackathon_Eclipse.language.settings.xml
source/.metadata/version.ini
source/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
source/.metadata/.plugins/org.eclipse.team.cvs.core/.running
source/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
*.properties
*.history
*.index
*.libhover
source/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
source/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.prefs
*.snap
*.version
source/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
source/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
source/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/
source/RemoteSystemsTempFiles/.project